<!DOCTYPE html>
<html>
<head>

    {%- set source = front_end_progress -%}
    {%- set site_name = source.siteName -%}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{source.notes.title}} - {{source.siteName}}</title>
</head>
<body>
	Some notes
</body>
</html>